html {
   scroll-behavior: smooth;
}

* {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   background-color: color('background-light');

   &.no-scroll {
      overflow: hidden;
      padding-right: 10px;
   }
}

body::-webkit-scrollbar {
   width: 10px;
   height: 10px;
}

body::-webkit-scrollbar-track {
   background: transparent;
}

body::-webkit-scrollbar-thumb {
   background: color('primary');
}

body::-webkit-scrollbar-thumb:hover {
   background: color('primary-light');
}

.page-wrapper {
   position: relative;
   z-index: 1;

   @include screen("xs", "xs")   {padding: 0 15px;}
   @include screen("sm", "sm")   {padding: 0 50px;}
   @include screen("md", "md")   {padding: 0 75px;}
   @include screen("lg", "lg")   {padding: 0 100px;}
   @include screen("xl", "xl")   {padding: 0 120px;}
   @include screen("xxl", "xxl") {padding: 0 150px;}

   .page-container {
      border-radius: 15px;
      @include screen("xs", "xs")   {padding: 15px; top: -50px;}
      @include screen("sm", "sm")   {padding: 30px; top: -73px;}
      @include screen("md", "lg")   {padding: 40px; top: -83px;}
      @include screen("xl", "xxl")  {padding: 50px; top: -93px;}
      min-height: 100vh;
      box-shadow: $shadow-light;
      position: relative;
      z-index: 2;
      background-color: color('font-light');

      h1 {
         @include text-header();
         margin: 0;

         @include screen("xs", "xs") {
            font-size: 28px;
         }
      }

      h2 {
         @include text-subheader();
         margin: 0;

         @include screen("xs", "xs") {
            font-size: 24px;
         }
      }

      &.display-flex {
         display: flex;
         padding: 0;
         overflow: hidden;

         .hide-show-right, .hide-show-left {
            display: none;
            position: absolute;
            z-index: 11;
            top: 0;
            width: 50px;
            height: 110px;
            justify-content: center;
            align-items: center;
            color: color('font-light');

            @include screen("xs", "lg") {
               display: flex;
            }
         }
         .hide-show-right {
            right: 0;
         }
         .hide-show-left {
            left: 0;
         }

         .left-col, .right-col {
            flex-shrink: 0;
            flex-grow: 0;
            position: absolute;
            top: 0;
            z-index: 10;
            background-color: color('font-light');
            width: 300px;
            height: 100%;
            overflow-y: auto;
            will-change: transform;
            transition: transform .3s ease-out;
            max-width: 100%;

            .header {
               width: 100%;
               height: 110px;
               display: flex;
               justify-content: center;
               align-items: center;

               h1 {
                  @include text-subheader();
               }
            }
         }

         .left-col {
            left: 0;
            transform: translateX(-100%);
         }

         .right-col {
            right: 0;
            transform: translateX(100%);
         }

         .main-col {
            width: 100%;
         }

         &.show-right {
            @include screen("xl", "xxl") {
               padding-right: 300px;
            }

            .right-col {
               @include screen("xl", "xxl") {
                  transform: translateX(0);
                  box-shadow: $shadow-light;
               }
            }
         }

         &.show-left {
            @include screen("xl", "xxl") {
               padding-left: 300px;
            }

            .left-col {
               @include screen("xl", "xxl") {
                  transform: translateX(0);
                  box-shadow: $shadow-light;
               }
            }
         }

         &.expand-right {
            .right-col {
               @include screen("xs", "lg") {
                  transform: translateX(0);
                  box-shadow: $shadow-light;
               }
            }

            .hide-show-right {
               transform: translateX(-250px);
               color: color('font-dark');

               i {
                  @include screen("xs", "lg") {
                     transform: rotate(180deg);
                  }
               }
            }
         }

         &.expand-left {
            .left-col {
               @include screen("xs", "lg") {
                  transform: translateX(0);
                  box-shadow: $shadow-light;
               }
            }

            .hide-show-left {
               transform: translateX(250px);
               color: color('font-dark');

               i {
                  @include screen("xs", "lg") {
                     transform: rotate(180deg);
                  }
               }
            }
         }
      }
   }

   &.home {
      .page-container {
         @include screen("xxl", "xxl")  {top: -70px;}
      }
   }

   &.submenu {
      .page-container {
         top: -110px;
      }
   }
}


.separator {
   height: 46px;
}

.small-separator {
   height: 20px;
}

.movie-card {
   padding: 0 10px;
   .image, .text-subheader, .categories {
      margin-bottom: 10px;
   }

   .text-subheader {
      display: block;
      color: color('font-dark');
   }

   .image {
      display: block;
      width: 100%;
      padding-top: 65%;
      position: relative;
      cursor: pointer;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 10px;
         object-fit: cover;
         z-index: 0;
      }

      .background {
         z-index: 1;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 10px;
         background-color: color('dark-transparent');
         color: color('font-light');
         display: flex;
         justify-content: center;
         align-items: center;
         will-change: transform;
         transition: opacity .2s linear;
         opacity: 0;

         i {
            font-size: 40px;
         }
      }

      &:hover .background {
         opacity: 1;
      }
   }

   .desc {
      height: 14em;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical;
      overflow: hidden !important;
   }

   .btn-large {
      width: 100%;
      margin-bottom: 10px;
   }
}

.categories {
   display: flex;
   flex-wrap: wrap;

   span, a {
      display: inline-block;
      padding: 2px 5px;
      background-color: color('secondary-light');
      border-radius: 1em;
      color: color('font-light');
      @include text-small-header();
   }

   a {
      margin-right: 4px;
      margin-bottom: 4px;
   }
}

.card-stats {
   display: flex;
   flex-wrap: wrap;
   align-items: center;

   .stat {
      display: flex;
      align-items: center;
      margin-right: 10px;

      span {
         margin-right: 5px;
         @include text-small();
      }

      img {
         width: 1.2em;
         height: 1.2em;
      }
   }
}


.stats {
   display: flex;
   align-items: center;

   img {
      margin: 0 15px 0 5px;
   }
}

.categories-grid {
   display: grid;
   grid-gap: 5px;

   @include screen("xxl", "xxl") {
      grid-template-columns: repeat(4, 1fr);
   }
   @include screen("lg", "xl") {
      grid-template-columns: 1fr 1fr 1fr;
   }
   @include screen("md", "md") {
      grid-template-columns: 1fr 1fr;
   }
   @include screen("xs", "sm") {
      grid-template-columns: 1fr;
   }

   .category {
      display: flex;
      background-color: color('background-light');
      align-items: center;
      padding: 12px;
      @include text-subheader();
      color: color('font-dark');
      position: relative;

      i {
         font-size: 26px;
         margin-right: 12px;
      }

      .background {
         position: absolute;
         z-index: 0;
         background-color: color('dark-transparent2');
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         will-change: transform;
         transition: opacity .2s linear;
         opacity: 0;
      }

      &:hover .background {
         opacity: 1;
      }
   }
}

.movie-grid {
   display: grid;
   @include screen("xs", "xs") {
      grid-template-columns: 1fr;
   }
   @include screen("sm", "sm") {
      grid-template-columns: 1fr 1fr;
   }
   @include screen("md", "md") {
      grid-template-columns: 1fr 1fr 1fr;
   }
   @include screen("lg", "xxl") {
      grid-template-columns: repeat(4, 1fr);
   }

   grid-gap: 20px;

   .movie-card {
      padding: 0;
   }
}

.ranking {
   margin-top: 50px;
   text-align: center;

   @include screen("xl", "xxl") {
      padding: 0 50px;
   }
   @include screen("md", "lg") {
      padding: 0 25px;
   }
   @include screen("xs", "sm") {
      padding: 0 15px;
   }

   .pos1 {
      width: 50%;
      position: relative;
      left: 25%;
      margin-top: 30px;
   }

   .pos2 {
      width: 40%;
      margin-top: 20px;
   }

   .pos3 {
      width: 30%;
      position: relative;
      left: 70%;
      margin-top: -20%;
   }

   .image {
      widows: 100%;
      padding-top: 100%;
      position: relative;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         object-fit: cover;
         @include circle-outline(color('primary'), 5px);
         will-change: transform;
         transition: transform .2s ease-out;

         &:hover {
            transform: scale(1.1);
         }
      }
   }

   .text-small-header {
      margin-top: 10px;
      width: 200%;
      position: relative;
      left: -50%;
   }
}

.statistic-row {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 0;

   &:not(:last-child) {
      border-bottom: 1px solid color('background-light');
   }

   .categories {
      justify-content: flex-end;
   }
}

.pagination {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
   background-color: color('background-light');
   box-shadow: $shadow-small-light;
   border-radius: 15px;
   overflow: hidden;
   @include text-subheader();

   li {
      height: 70px;
      display: block;
      color: color('font-dark');
      position: relative;

      &:before {
         content: "";
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background-color: color('dark-transparent2');
         z-index: 0;
         will-change: transform;
         transition: opacity .2s linear;
         opacity: 0;
      }

      &:hover:before {
         opacity: 1;
      }

      &.current {
         background-color: color('primary');
         color: color('font-light');
      }

      a, i, input, form {
         position: relative;
         z-index: 1;
         display: block;
         color: inherit;
         width: 100%;
         height: 100%;
         line-height: 70px;
         text-align: center;
      }

      i {
         font-size: 1.2em;
      }

      input {
         background-color: transparent;
         border: none;

         &::placeholder {
            color: color('font-dark');
         }
      }
   }

   .page {
      display: none;
   }

   @include screen("xxl", "xxl") {
      @for $i from 2 to 14 {
         .page:nth-child(#{$i}) {
            display: block;
         }
      }
   }
   @include screen("xl", "xl") {
      @for $i from 2 to 12 {
         .page:nth-child(#{$i}) {
            display: block;
         }
      }
   }
   @include screen("lg", "lg") {
      @for $i from 2 to 10 {
         .page:nth-child(#{$i}) {
            display: block;
         }
      }
   }
   @include screen("md", "md") {
      @for $i from 2 to 8 {
         .page:nth-child(#{$i}) {
            display: block;
         }
      }
   }
   @include screen("sm", "sm") {
      @for $i from 2 to 5 {
         .page:nth-child(#{$i}) {
            display: block;
         }
      }

      .last-page {
         display: none;
      }
   }
   @include screen("xs", "xs") {
      .current {
         display: block;
      }
      .last-page {
         display: none;
      }
   }
}

.tabs {
   background-color: color('light-transparent2');
   box-shadow: $shadow-small-light;
   height: 70px;
   position: relative;
   z-index: 2;

   .tab {
      height: 70px;

      a, a:hover, a.active {
         color: color('font-light');
         @include text-subheader();
         height: 70px;
         line-height: 70px;
         text-transform: none;
         user-select: none;
      }

      a:focus, a:focus.active {
         background-color: color('light-transparent2');
      }
   }

   .indicator {
      background-color: color('font-light');
      height: 3px;
   }
}

.tab-content {
   @include screen("xs", "xs")   {padding: 15px;}
   @include screen("sm", "sm")   {padding: 30px;}
   @include screen("md", "lg")   {padding: 40px;}
   @include screen("xl", "xxl")  {padding: 50px;}
}

@mixin active-background() {
   content: "";
   position: absolute;
   height: 100%;
   background-color: color('background-light');
   z-index: -1;
   top: -1px;
   @include screen("xs", "xs")   {left: -15px; width: calc(100% + 30px)}
   @include screen("sm", "sm")   {left: -30px; width: calc(100% + 60px)}
   @include screen("md", "lg")   {left: -40px; width: calc(100% + 80px)}
   @include screen("xl", "xxl")  {left: -50px; width: calc(100% + 100px)}
   box-shadow: $shadow-small-light;
   will-change: transform;
   transition: opacity .2s linear;
   opacity: 0;
}


.characters {
   .collapsible {
      box-shadow: none;
      border: none;

      li {
         .collapsible-header {
            position: relative;
            background-color: transparent;
            display: flex;
            align-items: center;
            border-bottom: 1px solid color('background-light');

            &:before {
               @include active-background();
            }

            img {
               width: 50px;
               height: 50px;
               border-radius: 50%;
               object-fit: cover;
               margin-right: 15px;
               user-select: none;
               @include circle-outline(color('primary'));
            }

            .text-normal {
               width: 100%
            }

            .rate {
               @include text-normal();
               display: flex;
               user-select: none;

               i {
                  color: color('danger');
                  margin-right: 5px;
               }
            }
         }

         .collapsible-body {
            border-bottom: 1px solid color('background-light');
         }

         &.active .collapsible-header {
            border: none;

            &:before {
               opacity: 1;
            }
         }
      }
   }
}

.my-profile {
   display: flex;
   padding: 15px 0;
   align-items: center;

   img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
      @include circle-outline(color('primary'));
   }
}

.flex-right {
   display: flex;
   justify-content: flex-end;
}
.flex-left {
   display: flex;
   justify-content: flex-start;
}
.flex-center {
   display: flex;
   justify-content: center;
}

.comment {
   &:not(:last-child) {
      border-bottom: 1px solid color('background-light');
      margin-bottom: 30px;
      padding-bottom: 30px;
   }

   .header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;

      .profile {
         display: flex;
         align-items: center;

         img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;

            @include circle-outline(color('primary'));
         }
      }

      .btn-small {
         margin: 15px 0;

         @include screen("xs", "sm") {
            &:not(i) {
               font-size: 0;
            }

            i {
               margin: 0;
               transform: translate(-2px, 2px);
            }

            padding: 0 5px;
         }
      }
   }

   .body {
      display: flex;

      .rate {
         flex-basis: 50px;
         flex-shrink: 0;
         flex-grow: 0;
         padding-right: 10px;

         .btn-flat {
            width: 40px;
            padding: 0;
            text-align: center;
         }
      }
   }
}

.player-table {
   overflow-x: auto;
   display: block;
   position: relative;
   @include screen("xs", "xs")   {padding: 15px; width: calc(100% + 30px); left: -15px;}
   @include screen("sm", "sm")   {padding: 30px; width: calc(100% + 60px); left: -30px;}
   @include screen("md", "lg")   {padding: 40px; width: calc(100% + 80px); left: -40px;}
   @include screen("xl", "xxl")  {padding: 50px; width: calc(100% + 100px); left: -50px}

   tbody {
      display: block;
      min-width: 789px;
   }

   th, td {
      @include text-normal();
      text-align: center;
      width: 100%;

      &:first-child {
         text-align: left;
      }
      &:last-child {
         text-align: right;
      }

      @include screen("xs", "md") {
         order: 1;

         &:last-child {
            order: 0;
            text-align: left;
         }

         &:first-child {
            text-align: center;
         }

         &:nth-child(5) {
            text-align: right;
         }
      }
   }

   .stats {
      justify-content: center;
      margin: 0;

      img {
         margin-right: 0;
      }
   }

   th {
      padding-bottom: 30px;
   }

   .header {
      border-bottom: none;
   }

   tr {
      border-bottom: 1px solid color('background-light');
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:before {
         @include active-background();
      }

      &.active {
         border: none;

         &:before {
            opacity: 1;
         }
      }
   }
}

.player {
   position: relative;
   padding-top: 56.25%;

   iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}

.player-pagination {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   a {
      &:first-child {
         padding-left: 15px;
      }
      &:last-child {
         padding-right: 15px;
      }
   }
}

.movies-list {
   list-style: none;
   display: block;
   padding: 0;
   margin: 0;
   overflow: hidden;
   padding-bottom: 20px;

   li {
      padding: 0;
      margin: 0;
      display: block;

      a {
         display: flex;
         padding: 15px;
         position: relative;
         justify-content: space-between;
         align-items: center;
         color: color('font-dark');
         @include text-small();
         z-index: 0;

         &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: color('background-light');
            z-index: -1;
            will-change: transform;
            transition: opacity .2s linear;
            opacity: 0;
         }

         &:hover:before {
            opacity: 1;
         }

         .col {
            display: flex;
            align-items: center;

            .is-watched {
               width: 5px;
               height: 5px;
               border-radius: 2.5px;
               background-color: color('background-light');
               margin-right: 10px;
            }

            .number {
               margin-right: 10px;
            }

            .stats img {
               margin: 0;
               margin-left: 10px;
               z-index: 1;
            }
         }

         &.watched {
            .is-watched {
               background-color: color('success');
            }
         }

         &.active {
            &:before {
               opacity: 1;
            }
            box-shadow: $shadow-small-light;
            z-index: 1;
         }
      }

      &.information {
         text-align: center;
         @include text-small();
         color: color('placeholder-light');
         height: 50px;
         padding: 15px;
      }
   }
}

.genre {
   display: flex;
   @include screen("xs", "sm") {
      flex-direction: column;
   }

   .image, .info-col {
      flex-shrink: 0;
      flex-grow: 0;
   }

   .image {
      @include screen("xl", "xxl") {
         flex-basis: 30%;
      }
      @include screen("md", "lg") {
         flex-basis: 40%;
      }

      @include screen("xs", "sm") {
         margin-bottom: 30px;
      }

      .image-container {
         width: 100%;
         padding-bottom: 100%;
         position: relative;

         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
         }
      }
   }

   .info-col {

      @include screen("xl", "xxl") {
         flex-basis: 70%;
      }
      @include screen("md", "lg") {
         flex-basis: 60%;
      }

      @include screen("md", "xxl") {
         padding-left: 30px;
      }

      .button-container {
         text-align: right;
      }
   }

   &:not(:last-child) {
      margin-bottom: 50px;
   }

   &:nth-child(even) {
      @include screen("md", "xxl") {
         flex-direction: row-reverse;

         .info-col {
            padding-right: 30px;
            padding-left: 0;
            text-align: right;

            .button-container {
               text-align: left;
            }
         }
      }
   }
}