html {
   scroll-behavior: smooth;
}

body {
   background-color: color('background-light');

   &.no-scroll {
      overflow: hidden;
      padding-right: 10px;
   }
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: color('primary');
}

::-webkit-scrollbar-thumb:hover {
   background: color('primary-light');
}

.page-wrapper {
   position: relative;
   z-index: 1;

   @include screen("xs", "xs")   {padding: 0 15px;}
   @include screen("sm", "sm")   {padding: 0 50px;}
   @include screen("md", "md")   {padding: 0 75px;}
   @include screen("lg", "lg")   {padding: 0 100px;}
   @include screen("xl", "xl")   {padding: 0 120px;}
   @include screen("xxl", "xxl") {padding: 0 150px;}

   .page-container {
      border-radius: 15px;
      @include screen("xs", "xs")   {padding: 15px; top: -50px;}
      @include screen("sm", "sm")   {padding: 30px; top: -73px;}
      @include screen("md", "lg")   {padding: 40px; top: -83px;}
      @include screen("xl", "xxl")  {padding: 50px; top: -93px;}
      min-height: 100vh;
      box-shadow: $shadow-light;
      position: relative;
      z-index: 2;
      background-color: color('font-light');

      h1 {
         @include text-header();
         margin: 0;

         @include screen("xs", "xs") {
            font-size: 28px;
         }
      }

      h2 {
         @include text-subheader();
         margin: 0;

         @include screen("xs", "xs") {
            font-size: 24px;
         }
      }
   }

   &.home {
      .page-container {
         @include screen("xxl", "xxl")  {top: -70px;}
      }
   }
}


.separator {
   height: 46px;
}

.small-separator {
   height: 20px;
}

.movie-card {
   padding: 0 10px;
   .image, .text-subheader, .categories {
      margin-bottom: 10px;
   }

   .text-subheader {
      display: block;
      color: color('font-dark');
   }

   .image {
      display: block;
      width: 100%;
      padding-top: 65%;
      position: relative;
      cursor: pointer;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 10px;
         object-fit: cover;
         z-index: 0;
      }

      .background {
         z-index: 1;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 10px;
         background-color: color('dark-transparent');
         color: color('font-light');
         display: flex;
         justify-content: center;
         align-items: center;
         will-change: transform;
         transition: opacity .2s linear;
         opacity: 0;

         i {
            font-size: 40px;
         }
      }

      &:hover .background {
         opacity: 1;
      }
   }

   .desc {
      height: 14em;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical;
      overflow: hidden !important;
   }

   .btn-large {
      width: 100%;
      margin-bottom: 10px;
   }
}

.categories {
   display: flex;
   flex-wrap: wrap;

   span, a {
      display: inline-block;
      padding: 2px 5px;
      background-color: color('secondary-light');
      border-radius: 1em;
      color: color('font-light');
      @include text-small-header();
   }

   a {
      margin-right: 4px;
      margin-bottom: 4px;
   }
}

.card-stats {
   display: flex;
   flex-wrap: wrap;
   align-items: center;

   .stat {
      display: flex;
      align-items: center;
      margin-right: 10px;

      span {
         margin-right: 5px;
         @include text-small();
      }

      img {
         width: 1.2em;
         height: 1.2em;
      }
   }
}

.categories-grid {
   display: grid;
   grid-gap: 5px;

   @include screen("xxl", "xxl") {
      grid-template-columns: repeat(4, 1fr);
   }
   @include screen("lg", "xl") {
      grid-template-columns: 1fr 1fr 1fr;
   }
   @include screen("md", "md") {
      grid-template-columns: 1fr 1fr;
   }
   @include screen("xs", "sm") {
      grid-template-columns: 1fr;
   }

   .category {
      display: flex;
      background-color: color('background-light');
      align-items: center;
      padding: 12px;
      @include text-subheader();
      color: color('font-dark');
      position: relative;

      i {
         font-size: 26px;
         margin-right: 12px;
      }

      .background {
         position: absolute;
         z-index: 0;
         background-color: color('dark-transparent2');
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         will-change: transform;
         transition: opacity .2s linear;
         opacity: 0;
      }

      &:hover .background {
         opacity: 1;
      }
   }
}

.movie-grid {
   display: grid;
   @include screen("xs", "xs") {
      grid-template-columns: 1fr;
   }
   @include screen("sm", "sm") {
      grid-template-columns: 1fr 1fr;
   }
   @include screen("md", "md") {
      grid-template-columns: 1fr 1fr 1fr;
   }
   @include screen("lg", "xxl") {
      grid-template-columns: repeat(4, 1fr);
   }

   grid-gap: 20px;

   .movie-card {
      padding: 0;
   }
}

.ranking {
   margin-top: 50px;
   text-align: center;

   @include screen("xl", "xxl") {
      padding: 0 50px;
   }
   @include screen("md", "lg") {
      padding: 0 25px;
   }
   @include screen("xs", "sm") {
      padding: 0 15px;
   }

   .pos1 {
      width: 50%;
      position: relative;
      left: 25%;
      margin-top: 30px;
   }

   .pos2 {
      width: 40%;
      margin-top: 20px;
   }

   .pos3 {
      width: 30%;
      position: relative;
      left: 70%;
      margin-top: -20%;
   }

   .image {
      widows: 100%;
      padding-top: 100%;
      position: relative;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         object-fit: cover;
      }
   }

   .text-small-header {
      margin-top: 10px;
      width: 200%;
      position: relative;
      left: -50%;
   }
}

.statistic-row {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 0;

   &:not(:last-child) {
      border-bottom: 1px solid color('background-light');
   }

   .categories {
      justify-content: flex-end;
   }
}

.pagination {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
   background-color: color('background-light');
   box-shadow: $shadow-light;
   border-radius: 15px;
   overflow: hidden;
   @include text-subheader();

   li {
      height: 70px;
      display: block;
      color: color('font-dark');
      position: relative;

      &:before {
         content: "";
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background-color: color('dark-transparent2');
         z-index: 0;
         will-change: transform;
         transition: opacity .2s linear;
         opacity: 0;
      }

      &:hover:before {
         opacity: 1;
      }

      &.current {
         background-color: color('primary');
         color: color('font-light');
      }

      a, i, input, form {
         position: relative;
         z-index: 1;
         display: block;
         color: inherit;
         width: 100%;
         height: 100%;
         line-height: 70px;
         text-align: center;
      }

      i {
         font-size: 1.2em;
      }

      input {
         background-color: transparent;
         border: none;

         &::placeholder {
            color: color('font-dark');
         }
      }
   }

   .page {
      display: none;
   }

   @include screen("xxl", "xxl") {
      @for $i from 2 to 14 {
         .page:nth-child(#{$i}) {
            display: block;
         }
      }
   }
   @include screen("xl", "xl") {
      @for $i from 2 to 12 {
         .page:nth-child(#{$i}) {
            display: block;
         }
      }
   }
   @include screen("lg", "lg") {
      @for $i from 2 to 10 {
         .page:nth-child(#{$i}) {
            display: block;
         }
      }
   }
   @include screen("md", "md") {
      @for $i from 2 to 8 {
         .page:nth-child(#{$i}) {
            display: block;
         }
      }
   }
   @include screen("sm", "sm") {
      @for $i from 2 to 5 {
         .page:nth-child(#{$i}) {
            display: block;
         }
      }

      .last-page {
         display: none;
      }
   }
   @include screen("xs", "xs") {
      .current {
         display: block;
      }
      .last-page {
         display: none;
      }
   }
}