

.menu-hamburger {
   width: 70px;
   height: 70px;
   position: fixed;
   cursor: pointer;
   z-index: 5;
   top: 0;
   left: 0;
   will-change: transform;
   transition: transform .3s ease-out;

   .line {
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: color('font-light');
      left: 50%;
      top: 50%;
      will-change: transform;
      transition: transform .3s ease-out;
      z-index: 1;
   }

   .line:nth-child(1) {
      transform: translate(-50%, -800%);
   }
   .line:nth-child(2) {
      transform: translate(-50%, -50%);
   }
   .line:nth-child(3) {
      transform: translate(-50%, 700%);
   }

   .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: color('light-transparent2');
      z-index: 0;
      will-change: transform;
      transition: opacity .2s linear;
      opacity: 0;
   }

   &:hover .background {
      opacity: 1;
   }

   &.active {
      .line:nth-child(1) {
         transform: translate(-50%, -50%) rotate(-45deg);
      }
      .line:nth-child(2) {
         transform: translate(-50%, -50%) scaleX(0);
      }
      .line:nth-child(3) {
         transform: translate(-50%, -50%) rotate(45deg);
      }
   }
}

.nav-bar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   background-color: color('primary');
   background: $primary-gradient;
   z-index: 3;
   display: flex;
   will-change: transform;
   transition: transform .3s ease-out;
   box-shadow: $shadow-hard-light;
   padding-left: 70px;

   .home-search {
      background: none;
      background-color: transparent;
   }

   .dropdown-content {
      top: -70px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      min-width: 200px;

      li a i {
         margin-right: 15px;
      }
   }

   .user-panel {
      user-select: none;
   }

   .home-search {
      position: relative;

      .search-dropdown-container {
         position: fixed;
         top: 70px;
         left: 0;
         @include screen("xs", "xs")   {padding: 0 15px;}
         @include screen("sm", "sm")   {padding: 0 50px;}
         @include screen("md", "md")   {padding: 0 75px;}
         @include screen("lg", "lg")   {padding: 0 100px;}
         @include screen("xl", "xl")   {padding: 0 120px;}
         @include screen("xxl", "xxl") {padding: 0 150px;}
         padding-bottom: 12px !important;
      }

   }



   &.fixed {
      position: fixed;

      .user-panel {
         transform: translateY(0);

         .background {
            background-color: color('light-transparent2');
         }
      }
   }

   .user-panel {
      position: relative;
      display: flex;
      align-items: center;
      @include text-normal();
      color: color('font-light');
      padding-left: 15px;
      cursor: pointer;

      @include screen("xs", "md") {
         padding: 0 10px;
      }

      .name, .material-icons {
         padding-right: 15px;

         @include screen("xs", "md") {
            display: none;
         }
      }

      .image {
         width: 50px;
         height: 50px;

         img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            @include circle-outline(color('font-light'), 2px, 1px);
            border-radius: 50%;
         }
      }

      .background {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: -1;
         background-color: color('light-transparent2');
         will-change: transform;
         transition: opacity .2s linear;
         opacity: 0;
      }

      &:hover .background {
         opacity: 1;
      }
   }
}


body.no-scroll .nav-bar {
   padding-right: 10px;
   pointer-events: none;
}

.nav-container {
   position: fixed;
   z-index: 4;
   top: 0;
   left: 0;
   max-width: 100%;
   height: 100vh;
   overflow: hidden;
   will-change: transform;
   transition: transform .3s ease-out;
   transform: translateX(-100%);

   @include screen("xxl", "xxl") {width: 700px;}
   @include screen("xl", "xl") {width: 650px;}
   @include screen("md", "lg") {width: 600px;}
   @include screen("xs", "sm") {width: 400px;}

   &.expand {
      transform: translateX(0);
   }

   .navigation {
      width: 100%;
      height: 100%;
      background-color: color('primary-light');
      background: $primary-light-gradient;
      position: relative;
      padding-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: $shadow-hard-light;

      @include screen("xxl", "xxl") {
         padding-bottom: 120px;
      }

      @include screen("md", "xxl") {
         transform: skew(-10deg);
         left: -10vw;
         padding-left: 10vw;
      }

      .navigation-content {
         width: 100%;
         height: 100%;
         color: color('font-light');
         padding-left: 15px;
         overflow-y: auto;
         overflow-x: hidden;

         @include screen("xxl", "xxl") {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
         }

         @include screen("md", "xxl") {
            padding-left: 100px;
         }

         .logo {
            font-size: 72px;
            text-shadow: $shadow-font-light;
            line-height: 100%;

            @include screen("md", "xxl") {
               transform: skew(10deg);
            }

            @include screen("xs", "xl") {
               margin-bottom: 40px;
            }
         }

         .nav-list {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
               margin: 0;
               padding: 0;
               position: relative;
               display: block;
               overflow: hidden;

               .background {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: color('dark-transparent2');
                  will-change: transform;
                  transition: opacity .2s linear;
                  opacity: 0;
                  z-index: -1;
               }

               &:hover .background {
                  opacity: 1;
               }

               a {
                  color: color('font-light');
                  @include text-subheader;
                  display: flex;
                  align-items: center;
                  text-shadow: $shadow-font-light;
                  padding: 20px 0;
                  padding-left: 30px;
                  position: relative;
                  width: 110%;
                  left: -6px;
                  will-change: transform;

                  @include screen("md", "xxl") {
                     transform: skew(10deg);
                  }

                  i {
                     padding-right: 10px;
                  }

                  &:after {
                     content: "";
                     display: block;
                     position: absolute;
                     bottom: 0;
                     left: 0;
                     width: 100%;
                     height: 1px;
                     background-color: color('font-light');
                     mask-image: linear-gradient(to right, black, transparent);
                  }
               }
            }
         }
      }
   }
}

.nav-close-area {
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: color('dark-transparent');
   will-change: transform;
   transition: opacity .2s linear;
   opacity: 0;
   pointer-events: none;

   &.active {
      opacity: 1;
      pointer-events: all;
   }
}

.home-header {
   @include screen("xxl", "xxl") {
      .menu-hamburger {
         transform: translateY(-100%);

         &.show-el {
            transform: translateY(0);
         }
      }

      .nav-bar {
         position: absolute;
         transform: translateY(-100%);

         .user-panel {
            transform: translateY(100%);

            .background {
               background-color: color('dark-transparent');
            }
         }

         &.active {
            transform: translateY(0);
         }

         &.fixed {
            position: fixed;

            .user-panel {
               transform: translateY(0);

               .background {
                  background-color: color('light-transparent2');
               }
            }
         }
      }

      .nav-container {
         position: absolute;
         z-index: 1;
         mask-image: linear-gradient(black 80%, transparent);
         transform: translateX(0);

         .navigation {
            background: none;
            background-color: color('dark-transparent');
            box-shadow: none;

            .nav-list li .background {
               background-color: color('dark-transparent');
            }
         }

         &.hide-el {
            transform: translateX(-100%);
            position: fixed;
            mask-image: none;
            top: 0;
            left: 0;
            z-index: 4;

            .navigation {
               background-color: color('primary-light');
               background: $primary-light-gradient;
               box-shadow: $shadow-hard-light;

               .nav-list li .background {
                  background-color: color('dark-transparent2') !important;
               }
            }

            &.expand {
               transform: translateX(0);
            }
         }
      }
   }
}

.dropdown-content {
   min-width: 160px;
   box-shadow: $shadow-light;
   border-radius: 10px;

   li {
      will-change: transform;
      transition: background-color .2s linear;

      a {
         color: color('font-dark');
      }
   }
}