.slick-slider {
   position: relative;

   &:not(.col-slider) {

   overflow: hidden;
   }

   .background, .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }

   .background {
      z-index: 1;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .content {
      z-index: 2;
      color: color('font-light');
      position: relative;

      $slider-site-padding-lg: 100px;
      $slider-site-padding-md: 60px;
      $slider-site-padding-sm: 40px;

      .slider-site {
         position: relative;
         @include screen("xl", "xxl") {
            padding: 50px $slider-site-padding-lg;
         }
         @include screen("md", "lg") {
            padding: 50px $slider-site-padding-md;
         }
         @include screen("xs", "sm") {
            padding: 50px $slider-site-padding-sm;
         }

         .text {
            text-shadow: $shadow-font-dark;

            @include screen("lg", "xxl") {
               width: 70%;
            }

            @include screen("sm", "md") {
               .text-big {
                  font-size: 32px;
               }
               .text-normal {
                  font-size: 16px;
               }
            }

            @include screen("xs", "xs") {
               .text-big {
                  font-size: 24px;
               }
               .text-normal {
                  font-size: 12px;
               }
            }

            .bg {
               background-color: color('font-light');
               color: color('font-dark');
               padding: 10px;
               display: inline-block;
               text-shadow: none;
               position: relative;
               top: -10px;
               left: -10px;
               border-radius: 10px;
               box-shadow: $shadow-small-light;
            }
         }

         .btn {
            position: absolute;
            bottom: 50px;
            @include screen("xl", "xxl") {
               right: $slider-site-padding-lg;
            }
            @include screen("md", "lg") {
               right: $slider-site-padding-md;
            }
            @include screen("xs", "sm") {
               right: $slider-site-padding-sm;
            }
         }
      }

      .slick-arrow {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         display: block;
         height: 100%;
         @include screen("xl", "xxl") {
            width: $slider-site-padding-lg;
         }
         @include screen("md", "lg") {
            width: $slider-site-padding-md;
         }
         @include screen("xs", "sm") {
            width: $slider-site-padding-sm;
         }
         background-color: transparent;
         border: none;
         color: color('font-light');
         cursor: pointer;
         z-index: 1;
         padding: 0;

         i {
            text-shadow: $shadow-font-dark;
            font-size: 30px;
         }

         .background {
            background-color: color('dark-transparent');
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            will-change: transform;
            transition: opacity .2s linear;
            opacity: 0;
         }

         &:hover .background {
            opacity: 1;
         }

         &.arrow-prev {
            left: 0;

            .background {
               mask-image: linear-gradient(to right, black, transparent)
            }
         }

         &.arrow-next {
            right: 0;

            .background {
               mask-image: linear-gradient(to left, black, transparent)
            }
         }
      }
   }


   &#home-slider {
      height: 500px;

      .slider-site {
         height: 500px;
      }
   }

   &#header-slider {
      height: 100vh;
      min-height: 500px;

      .slider-site {
         height: 100vh;
         min-height: 500px;
      }

      .content .slider-site {
         @include screen("xs", "xs")   {padding: 100px 15px;}
         @include screen("sm", "sm")   {padding: 100px 50px;}
         @include screen("md", "md")   {padding: 100px 75px;}
         @include screen("lg", "lg")   {padding: 110px 100px;}
         @include screen("xl", "xl")   {padding: 120px 120px;}
         @include screen("xxl", "xxl") {padding: 140px 150px;}

         .btn {
            @include screen("xs", "xs")   {right: 15px; bottom: 80px}
            @include screen("sm", "sm")   {right: 50px; bottom: 90px}
            @include screen("md", "md")   {right: 75px; bottom: 100px}
            @include screen("lg", "lg")   {right: 100px; bottom: 110px}
            @include screen("xl", "xl")   {right: 120px; bottom: 120px}
            @include screen("xxl", "xxl") {right: 150px; bottom: 140px}
         }
      }
   }
}

.col-slider {
   position: relative;
   z-index: -1;

   .slick-arrow {
      position: absolute;
      top: 50%;

      @include screen("xs", "xs") {
         width: 40px;
         height: 40px;
         background-color: transparent !important;
         box-shadow: none;

         i {
            line-height: 40px;
            color: color('placeholder-light');
         }
      }
   }

   .arrow-prev {
      @include screen("xs", "xs")   {left: -5px;}
      @include screen("sm", "sm")   {left: -30px;}
      @include screen("md", "lg")   {left: -40px;}
      @include screen("xl", "xxl") {left: -50px;}
      transform: translate(-50%, -50%);

      i {
         transform: translateX(4px);
      }
   }

   .arrow-next {
      @include screen("xs", "xs")   {right: -5px;}
      @include screen("sm", "sm")   {right: -30px;}
      @include screen("md", "lg")   {right: -40px;}
      @include screen("xl", "xxl") {right: -50px;}
      transform: translate(50%, -50%);
   }
}